.createContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

/* --- EDIT --- */
.editPanel form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.editPanel form h3:not(:first-of-type) {
  margin-top: 2.5rem;
}

.editPanel form h3 {
  font-size: 1.5rem;
}

h3 + label,
p + label {
  margin-top: 1.5rem;
}

/* Every label not inside a div */
:not(div) > label {
  margin-bottom: 0.2rem;
}

.editPanel form input:not([type="checkbox"]) {
  margin-bottom: 0.8rem;
}

.editPanel form input,
.editPanel form textarea {
  padding: 1em;
  border: none;
}

.editPanel form textarea {
  margin-top: 1rem;
}

.hideRefs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.hideRefs > .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;

  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: 0 0 0 2px var(--dark-black);
  border: 3px solid var(--dark-black);
}

.checkbox:checked {
  background-color: var(--dark-active);
}

@media (min-width: 750px) {
  .createContainer {
    flex-direction: row;
  }

  .previewPanel {
    width: calc(70% - 1rem);
    min-width: 350px;
    height: calc(65vh + 1rem);
  }

  .editPanel form {
    flex-grow: 1;
  }
}
