.createContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

/* --- PREVIEW --- */
.previewPanel {
  display: relative;
  width: 100%;
  min-width: 200px;
  height: 450px;
  min-height: 350px;
  border-radius: 5px;
  border: 1px solid var(--light-white);
  padding: 1rem;
}

.previewDetails,
.previewSummary,
.previewHistory,
.previewEducation,
.previewReferences {
  display: flex;
  flex-direction: column;
}

.previewDetails::after,
.previewSummary::after,
.previewHistory::after,
.previewEducation::after,
.previewReferences::after {
  content: "";
  height: 0.3rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #161616;
  margin-top: 0.5rem;
}

.previewDetails h4 {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.previewDetails p {
  font-size: 0.8rem;
}

.detailsLocation {
  margin: 0 auto;
  text-align: center;
}

.detailsContact {
  display: flex;
  justify-content: space-between;
}

.previewSummary h4,
.previewHistory h4,
.previewEducation h4,
.previewReferences h4 {
  margin: 1rem auto;
  text-transform: uppercase;
  margin-top: 1rem;
  border-bottom: 1px solid var(--light-white);
  padding-bottom: 2px;
}

.previewSummary p {
  padding: 0 1rem;
  font-size: 0.8rem;
}

/* --- EDIT --- */
.editPanel form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.editPanel form h3:not(:first-of-type) {
  margin-top: 2.5rem;
}

.editPanel form h3 {
  font-size: 1.5rem;
}

h3 + label,
p + label {
  margin-top: 1.5rem;
}

/* Every label not inside a div */
:not(div) > label {
  margin-bottom: 0.2rem;
}

.editPanel form input:not([type="radio"]) {
  margin-bottom: 0.8rem;
}

.editPanel form input,
.editPanel form textarea {
  padding: 1em;
  border: none;
}

.editPanel form textarea {
  margin-top: 1rem;
}

.refs {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

@media (min-width: 750px) {
  .createContainer {
    flex-direction: row;
  }

  .previewPanel {
    width: calc(70% - 1rem);
    min-width: 350px;
    height: calc(65vh + 1rem);
  }

  .editPanel form {
    flex-grow: 1;
  }
}
