.cvContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cvSection {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

.cvPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  min-width: 150px;
  min-height: 250px;
  cursor: pointer;
}

.cvOptions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.cvOptions:last-of-type {
  justify-content: center;
}

.cvNav {
  margin-top: 2rem;
}

.cvNav ul {
  padding: 0;
}

.cvNav ul li {
  padding: 7px 0;
}

.cvName {
  font-size: 2rem;
  margin: 0;
}
