.container {
  position: relative;
  width: 100%;
  padding: 2rem;
}

.heading {
  font-size: 2.2rem;
  margin: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* .optionsNav ul {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
} */

.btn {
  position: absolute;
  top: 40%;
  right: 5%;
  padding: 1em 2em;
}

@media (max-width: 650px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .optionsNav ul {
    justify-content: center;
  }

  .btn {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1em 6em;
    margin: 1em 0;
  }
}
