.employmentEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-black);
  margin: 1rem auto;
  padding: 1.5em;
  width: 100%;
  border-radius: 5px;
}

.employmentEntry div {
  display: flex;
  gap: 1.5rem;
}

.employmentEntry div > * {
  cursor: pointer;
}

.employmentEntry div > *:hover {
  color: var(--dark-active);
}
