h3 + p {
  margin-bottom: 1rem;
}

.entry {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-black);
  margin: 0.25rem auto;
  padding: 1.5em;
  width: 100%;
  border-radius: 5px;
  min-height: 40px;
  transition: min-height 400ms ease-in-out;
}

.entry div {
  display: flex;
  gap: 1.5rem;
}

.entry div > svg {
  cursor: pointer;
}

.entry div > svg:hover {
  color: var(--dark-active);
}

.entry + label {
  margin-top: 1rem;
}

.entry.expanded {
  min-height: 300px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr auto;
}

.entry.expanded h4 {
  display: none;
}

.entry.expanded .formExpanded {
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.entry.expanded .formExpanded input {
  margin: 0;
}

.entry.expanded .formExpanded > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.entry.expanded .entryControls {
  place-content: flex-end;
  grid-column: 2;
}
