.footerWrapper {
  width: 100%;
}

.footerNav > *,
.footerBottom {
  display: flex;
  justify-content: center;
}

.footerLi + .footerLi {
  margin-left: 1rem;
}

.footerP + .footerP {
  margin-left: 2rem;
}
