.footerWrapper {
  width: 100%;
}

.footerNav > *,
.footerBottom {
  display: flex;
  justify-content: center;
}

.footerLi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footerLi + .footerLi {
  margin-left: 1rem;
}

.footerP + .footerP {
  margin-left: 2rem;
}
