.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.header > h1 {
  color: #cbc69f;
  font-size: clamp(2rem, 0.8571rem + 4.5714vw, 4rem);
}

.profileIcon {
  font-size: 2rem;
  color: #cbc19f;
  cursor: pointer;
}

.profileIcon:hover {
  color: var(--dark-active);
}
